$color-background-grey: #434243;
$color-main-green: #83a729;
$color-white: #ffffff;

@mixin center {
    display: flex;
    justify-content: center;
}

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $color-background-grey;
    color: $color-white;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
}

.container {
    position: relative;
}

.header-primary {
    position: relative;
    top: 0;
    min-height: 7.5rem;
    padding: 0 2rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;

    .logo {
        width: 60vw;
        display: flex;
        justify-content: center;

        img {
            width: 40rem;
            margin: 0 auto;
        }
    }
}

ul {
    list-style-type: none;

    li {
        .nav-link {
            width: 35vw;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            text-decoration: none;
            color: inherit;
            font-size: 2rem;

            &:hover {
                color: $color-main-green;
            }
        }
    }
}

form {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    #email {
        margin-bottom: 1rem;
        border-radius: 1rem;
        padding: 1rem 3rem;
        border: solid;
        font-size: 2rem;
    }

    #submit {
        padding: 1rem 3rem;
        border-radius: 1rem;
        background: $color-main-green;
        text-transform: uppercase;
        font-size: 2rem;
        color: #000000;

        &:hover {
            background-color: darken($color-main-green, 10%);
        }

        &:active {
            box-shadow: 0 0.5rem #666;
            transform: translateY(0.4rem);
        }
    }
}

#features {
    .grid {
        display: flex;
        justify-content: center;

        .icon {
            font-size: 5rem;
            padding: 1rem;
        }

        .desc {
            align-self: center;

            p {
                font-size: 1.5rem;
            }
        }
    }
}

#video {
    @include center;
    
    iframe {
        max-width: 56rem;
        max-height: auto;
    }
}

#princing {
    @include center;
    img {
        width: auto;
        height: 500px;
    }
}

// utility

.border {
    border: 5px solid red;
}

.inner-border {
    border: 5px solid blue;
}
